appdirs==1.4.4
asgiref==3.3.4
astroid==2.5.2
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
distlib==0.3.1
dj-database-url==0.5.0
Django==3.2
django-heroku==0.3.1
filelock==3.0.12
googletrans==3.1.0a0
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
psycopg2==2.8.6
pylint==2.7.4
pylint-django==2.4.3
pylint-plugin-utils==0.6
pytz==2021.1
rfc3986==1.4.0
six==1.15.0
sniffio==1.2.0
sqlparse==0.4.1
toml==0.10.2
virtualenv==20.4.3
whitenoise==5.2.0
wrapt==1.12.1
