{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <link rel="shortcut icon" href="{% static 'images/google_translate.png' %}" type="image/png">
    <title>Online tarjimon</title>
</head>

<body>

    <!-- Navbar section -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand logo" href="#">ONLINE TARJIMON</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Asosiy sahifa</a>
                    <a class="nav-link" href="https://myurls.co/sanjarbeksaminjonov">Biz bilan bog'lanish</a>
                    <a class="nav-link" href="https://t.me/Sanjarbek_Saminjonov">Telegram kanalimiz</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- /Navbar section -->

    <!-- Main section -->
    <div class="container-md">

        <form id="post-form">
            {% csrf_token %}

            <!-- Input section -->
            <div class="mb-3 position-relative">
                <textarea name="entering_text" class="form-control entering_text" id="entering_text" value="" rows="8"
                    placeholder="Matn kiriting"></textarea>
                <button type="button" class="btn btn1 btn-secondary position-absolute top-0 end-0"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Clear Text" onclick="Clear()">
                    Clear
                </button>
            </div>
            <!-- /Input section -->

            <!-- Select language section -->
            <center>
                <select name="lang_enter" id="lang_enter" class="lang form-select rounded">
                    <option value="auto" selected>Auto</option>

                    {% for key, value in languages.items %}
                    <option value="{{ key }}">{{ value.title }}</option>
                    {% endfor %}

                </select>

                <button type="button" class='btn2 btn btn-primary' onclick='Change()'>
                    <img class="img-fluid img"
                    src="{% static 'images/picture.png' %}" alt="<<>>">
                </button>

                <select name="lang_exit" id="lang_exit" class="lang form-select rounded">
                    <option value="auto">Tilni tanlang</option>
                    {% for key, value in languages.items %}
                        {% if key == 'uz' %}
                        <option value="{{ key }}" selected>{{ value.title }}</option>
                        {% else %}
                        <option value="{{ key }}">{{ value.title }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <button type="submit" class="btn2 btn btn-primary" title="Tarjima qilish">Tarjima</button>
            </center>
            <!-- /Select language section -->

        </form>
        
        <div class="mb-3 position-relative">
            <textarea name="exit_text" class="form-control exit_text" id="exit_text" value="" rows="8"
                placeholder="Tarjima" readonly></textarea>
            <button type="button" class="btn btn1 btn-secondary position-absolute top-0 end-0" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Copy Text" onclick="Copy()">Copy</button>
        </div>
    </div>
    <!-- /Main section -->

    <!-- Footer section -->
    <div class="card-footer text-muted bott">
        Saminjonov Sanjarbek &copy; 2021
    </div>
    <!-- /Footer section -->

    <script>
        $("#entering_text").each(function () {
            this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
        }).on("input", function () {
            this.style.height = "auto";
            this.style.height = (this.scrollHeight) + "px";
        });

        $("#exit_text").each(function () {
            this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
        }).on("input", function () {
            this.style.height = "auto";
            this.style.height = (this.scrollHeight) + "px";
        });
    </script>

</body>

</html>